Rendering order_mailer/notify_order_placed.html.erb within layouts/mailer
ProductList Load (0.1ms)  SELECT "product_lists".* FROM "product_lists" WHERE "product_lists"."order_id" = ?  [["order_id", 3]]
Rendered order_mailer/notify_order_placed.html.erb within layouts/mailer (1.9ms)
OrderMailer#notify_order_placed: processed outbound mail in 16.6ms
=> #<Mail::Message:70122567852500, Multipart: false, Headers: <Date: Fri, 19 May 2017 10:24:10 +0800>, <From: service@jdstore.com>, <To: admin@test.com>, <Message-ID: <591e574ae71c6_12b103fc6ad83fa1473779@bingo.mail>>, <Subject: [JDstore] 感谢您完成本次的下单，以下是您这次购物明细 0aea14f1-c76d-4bf5-8009-fd0cb9778511>, <Mime-Version: 1.0>, <Content-Type: text/html>, <Content-Transfer-Encoding: quoted-printable>>
2.3.1 :015 > OrderMailer.notify_order_placed(Order.last).deliver!
Order Load (0.3ms)  SELECT  "orders".* FROM "orders" ORDER BY "orders"."id" DESC LIMIT ?  [["LIMIT", 1]]
User Load (0.1ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ? LIMIT ?  [["id", 2], ["LIMIT", 1]]
Rendering order_mailer/notify_order_placed.html.erb within layouts/mailer
ProductList Load (0.1ms)  SELECT "product_lists".* FROM "product_lists" WHERE "product_lists"."order_id" = ?  [["order_id", 3]]
Rendered order_mailer/notify_order_placed.html.erb within layouts/mailer (1.8ms)
OrderMailer#notify_order_placed: processed outbound mail in 16.0ms
=> #<Mail::Message:70122603976660, Multipart: false, Headers: <Date: Fri, 19 May 2017 10:24:19 +0800>, <From: service@jdstore.com>, <To: admin@test.com>, <Message-ID: <591e57538f447_12b103fc6ad83fa1473860@bingo.mail>>, <Subject: [JDstore] 感谢您完成本次的下单，以下是您这次购物明细 0aea14f1-c76d-4bf5-8009-fd0cb9778511>, <Mime-Version: 1.0>, <Content-Type: text/html>, <Content-Transfer-Encoding: quoted-printable>>
2.3.1 :016 > OrderMailer.notify_order_placed(Order.last).deliver!
Order Load (0.2ms)  SELECT  "orders".* FROM "orders" ORDER BY "orders"."id" DESC LIMIT ?  [["LIMIT", 1]]
User Load (0.1ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ? LIMIT ?  [["id", 2], ["LIMIT", 1]]
Rendering order_mailer/notify_order_placed.html.erb within layouts/mailer
ProductList Load (0.1ms)  SELECT "product_lists".* FROM "product_lists" WHERE "product_lists"."order_id" = ?  [["order_id", 3]]
Rendered order_mailer/notify_order_placed.html.erb within layouts/mailer (1.9ms)
OrderMailer#notify_order_placed: processed outbound mail in 16.3ms
=> #<Mail::Message:70122605775760, Multipart: false, Headers: <Date: Fri, 19 May 2017 10:24:36 +0800>, <From: service@jdstore.com>, <To: admin@test.com>, <Message-ID: <591e5764c8d9d_12b103fc6ad83fa1473975@bingo.mail>>, <Subject: [JDstore] 感谢您完成本次的下单，以下是您这次购物明细 0aea14f1-c76d-4bf5-8009-fd0cb9778511>, <Mime-Version: 1.0>, <Content-Type: text/html>, <Content-Transfer-Encoding: quoted-printable>>
2.3.1 :017 > OrderMailer.notify_order_placed(Order.last).deliver!
Order Load (0.3ms)  SELECT  "orders".* FROM "orders" ORDER BY "orders"."id" DESC LIMIT ?  [["LIMIT", 1]]
User Load (0.1ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ? LIMIT ?  [["id", 2], ["LIMIT", 1]]
Rendering order_mailer/notify_order_placed.html.erb within layouts/mailer
ProductList Load (0.1ms)  SELECT "product_lists".* FROM "product_lists" WHERE "product_lists"."order_id" = ?  [["order_id", 3]]
Rendered order_mailer/notify_order_placed.html.erb within layouts/mailer (2.0ms)
OrderMailer#notify_order_placed: processed outbound mail in 16.2ms
=> #<Mail::Message:70122605871320, Multipart: false, Headers: <Date: Fri, 19 May 2017 10:24:50 +0800>, <From: service@jdstore.com>, <To: admin@test.com>, <Message-ID: <591e57721fac3_12b103fc6ad83fa1474063@bingo.mail>>, <Subject: [JDstore] 感谢您完成本次的下单，以下是您这次购物明细 0aea14f1-c76d-4bf5-8009-fd0cb9778511>, <Mime-Version: 1.0>, <Content-Type: text/html>, <Content-Transfer-Encoding: quoted-printable>>
2.3.1 :018 > OrderMailer.notify_order_placed(Order.last).deliver!
Order Load (0.3ms)  SELECT  "orders".* FROM "orders" ORDER BY "orders"."id" DESC LIMIT ?  [["LIMIT", 1]]
User Load (0.1ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ? LIMIT ?  [["id", 2], ["LIMIT", 1]]
Rendering order_mailer/notify_order_placed.html.erb within layouts/mailer
ProductList Load (0.1ms)  SELECT "product_lists".* FROM "product_lists" WHERE "product_lists"."order_id" = ?  [["order_id", 3]]
Rendered order_mailer/notify_order_placed.html.erb within layouts/mailer (1.8ms)
OrderMailer#notify_order_placed: processed outbound mail in 16.2ms
=> #<Mail::Message:70122604402460, Multipart: false, Headers: <Date: Fri, 19 May 2017 10:25:53 +0800>, <From: service@jdstore.com>, <To: admin@test.com>, <Message-ID: <591e57b128062_12b103fc6ad83fa14741c5@bingo.mail>>, <Subject: [JDstore] 感谢您完成本次的下单，以下是您这次购物明细 0aea14f1-c76d-4bf5-8009-fd0cb9778511>, <Mime-Version: 1.0>, <Content-Type: text/html>, <Content-Transfer-Encoding: quoted-printable>>
2.3.1 :019 > OrderMailer.notify_order_placed(Order.last).deliver!
Order Load (0.1ms)  SELECT  "orders".* FROM "orders" ORDER BY "orders"."id" DESC LIMIT ?  [["LIMIT", 1]]
User Load (0.1ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ? LIMIT ?  [["id", 2], ["LIMIT", 1]]
Rendering order_mailer/notify_order_placed.html.erb within layouts/mailer
ProductList Load (0.1ms)  SELECT "product_lists".* FROM "product_lists" WHERE "product_lists"."order_id" = ?  [["order_id", 3]]
Rendered order_mailer/notify_order_placed.html.erb within layouts/mailer (2.4ms)
OrderMailer#notify_order_placed: processed outbound mail in 17.8ms
=> #<Mail::Message:70122604562520, Multipart: false, Headers: <Date: Fri, 19 May 2017 10:26:29 +0800>, <From: service@jdstore.com>, <To: admin@test.com>, <Message-ID: <591e57d52885f_12b103fc6ad83fa147428f@bingo.mail>>, <Subject: [JDstore] 感谢您完成本次的下单，以下是您这次购物明细 0aea14f1-c76d-4bf5-8009-fd0cb9778511>, <Mime-Version: 1.0>, <Content-Type: text/html>, <Content-Transfer-Encoding: quoted-printable>>
2.3.1 :020 > exit
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git add .
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git commit -m "add OrderMailer function"
[pay 98a2cf0] add OrderMailer function
9 files changed, 109 insertions(+), 5 deletions(-)
create mode 100644 app/mailers/order_mailer.rb
create mode 100644 app/views/order_mailer/notify_order_placed.html.erb
create mode 100644 test/mailers/order_mailer_test.rb
create mode 100644 test/mailers/previews/order_mailer_preview.rb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay ⮀ bundle install
Using rake 11.2.2
Using concurrent-ruby 1.0.2
Using i18n 0.7.0
Using minitest 5.9.0
Using thread_safe 0.3.5
Using builder 3.2.2
Using erubis 2.7.0
Using mini_portile2 2.1.0
Using pkg-config 1.1.7
Using rack 2.0.1
Using nio4r 1.2.1
Using websocket-extensions 0.1.2
Using mime-types-data 3.2016.0521
Using arel 7.1.1
Using public_suffix 2.0.5
Using execjs 2.7.0
Using bcrypt 3.1.11
Using sass 3.4.22
Using byebug 9.0.5
Using coffee-script-source 1.10.0
Using method_source 0.8.2
Using thor 0.19.1
Using debug_inspector 0.0.2
Using orm_adapter 0.5.0
Using ffi 1.9.14
Using multi_json 1.12.1
Using rb-fsevent 0.9.7
Using mini_magick 4.7.0
Using puma 3.6.0
Using bundler 1.14.6
Using tilt 2.0.5
Using spring 1.7.2
Using sqlite3 1.3.11
Using turbolinks-source 5.0.0
Using aasm 4.12.0
Using tzinfo 1.2.2
Using nokogiri 1.6.8
Using rack-test 0.6.3
Using warden 1.2.7
Using sprockets 3.7.0
Using websocket-driver 0.6.4
Using mime-types 3.1
Using addressable 2.5.1
Using autoprefixer-rails 6.7.7.1
Using uglifier 3.0.1
Using coffee-script 2.4.1
Using rb-inotify 0.9.7
Using turbolinks 5.0.0
Using activesupport 5.0.0
Using loofah 2.0.3
Using mail 2.6.4
Using launchy 2.4.3
Using bootstrap-sass 3.3.7
Using listen 3.0.8
Using rails-dom-testing 2.0.1
Using globalid 0.3.7
Using activemodel 5.0.0
Using jbuilder 2.6.0
Using rails-html-sanitizer 1.0.3
Using letter_opener 1.4.1
Using spring-watcher-listen 2.0.0
Using activejob 5.0.0
Using activerecord 5.0.0
Using carrierwave 1.1.0
Using actionview 5.0.0
Using actionpack 5.0.0
Using actioncable 5.0.0
Using actionmailer 5.0.0
Using railties 5.0.0
Using sprockets-rails 3.1.1
Using simple_form 3.4.0
Using coffee-rails 4.2.1
Using responders 2.3.0
Using font-awesome-rails 4.7.0.1
Using jquery-rails 4.1.1
Using web-console 3.3.1
Using rails 5.0.0
Using sass-rails 5.0.6
Using devise 4.2.1
Bundle complete! 23 Gemfile dependencies, 79 gems now installed.
Use `bundle show [gemname]` to see where a bundled gem is installed.
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rails g migration add_aasm_state_to_order
Running via Spring preloader in process 77368
    invoke  active_record
    create    db/migrate/20170519030040_add_aasm_state_to_order.rb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rake db:migrate
== 20170519030040 AddAasmStateToOrder: migrating ==============================
-- add_column(:orders, :aasm_state, :string, {:default=>"order_placed"})
 -> 0.0050s
-- add_index(:orders, :aasm_state)
 -> 0.0012s
== 20170519030040 AddAasmStateToOrder: migrated (0.0064s) =====================

zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rails c
Running via Spring preloader in process 77692
Loading development environment (Rails 5.0.0)
2.3.1 :001 > Order.last
Order Load (0.2ms)  SELECT  "orders".* FROM "orders" ORDER BY "orders"."id" DESC LIMIT ?  [["LIMIT", 1]]
=> #<Order id: 4, total: 400, user_id: 2, billing_name: "bingo", billing_address: "beijing", shipping_name: "bingo", shipping_address: "beijing", created_at: "2017-05-19 02:32:32", updated_at: "2017-05-19 02:32:32", token: "d1d97bc4-992a-4c7f-87f9-a76ae220717e", is_paid: true, payment_method: "alipay", aasm_state: "order_placed">
2.3.1 :002 > exit
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rails g controller admin::orders
Running via Spring preloader in process 77738
    create  app/controllers/admin/orders_controller.rb
    invoke  erb
    create    app/views/admin/orders
    invoke  test_unit
    create    test/controllers/admin/orders_controller_test.rb
    invoke  helper
    create    app/helpers/admin/orders_helper.rb
    invoke    test_unit
    invoke  assets
    invoke    coffee
    create      app/assets/javascripts/admin/orders.coffee
    invoke    scss
    create      app/assets/stylesheets/admin/orders.scss
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ touch app/views/admin/orders/index.html.erb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git add .
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git commit -m "add admin/orders"
[pay 69828d4] add admin/orders
14 files changed, 98 insertions(+), 5 deletions(-)
create mode 100644 app/assets/javascripts/admin/orders.coffee
create mode 100644 app/assets/stylesheets/admin/orders.scss
create mode 100644 app/controllers/admin/orders_controller.rb
create mode 100644 app/helpers/admin/orders_helper.rb
create mode 100644 app/views/admin/orders/index.html.erb
create mode 100644 db/migrate/20170519030040_add_aasm_state_to_order.rb
create mode 100644 test/controllers/admin/orders_controller_test.rb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay ⮀ touch app/views/admin/orders/show.html.erb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git add .
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git commit -m "implement admin/orders show function"
[pay 221442c] implement admin/orders show function
3 files changed, 81 insertions(+)
create mode 100644 app/views/admin/orders/show.html.erb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay ⮀ bundle install
Using rake 11.2.2
Using concurrent-ruby 1.0.2
Using i18n 0.7.0
Using minitest 5.9.0
Using thread_safe 0.3.5
Using builder 3.2.2
Using erubis 2.7.0
Using mini_portile2 2.1.0
Using pkg-config 1.1.7
Using rack 2.0.1
Using nio4r 1.2.1
Using websocket-extensions 0.1.2
Using mime-types-data 3.2016.0521
Using arel 7.1.1
Using public_suffix 2.0.5
Using execjs 2.7.0
Using bcrypt 3.1.11
Using sass 3.4.22
Using byebug 9.0.5
Using coffee-script-source 1.10.0
Using method_source 0.8.2
Using thor 0.19.1
Using debug_inspector 0.0.2
Using orm_adapter 0.5.0
Using ffi 1.9.14
Using multi_json 1.12.1
Using rb-fsevent 0.9.7
Using mini_magick 4.7.0
Using puma 3.6.0
Using bundler 1.14.6
Using tilt 2.0.5
Using spring 1.7.2
Using sqlite3 1.3.11
Using turbolinks-source 5.0.0
Using aasm 4.12.0
Using tzinfo 1.2.2
Using nokogiri 1.6.8
Using rack-test 0.6.3
Using warden 1.2.7
Using sprockets 3.7.0
Using websocket-driver 0.6.4
Using mime-types 3.1
Using addressable 2.5.1
Using autoprefixer-rails 6.7.7.1
Using uglifier 3.0.1
Using coffee-script 2.4.1
Using rb-inotify 0.9.7
Using turbolinks 5.0.0
Using activesupport 5.0.0
Using loofah 2.0.3
Using mail 2.6.4
Using launchy 2.4.3
Using bootstrap-sass 3.3.7
Using listen 3.0.8
Using rails-dom-testing 2.0.1
Using globalid 0.3.7
Using activemodel 5.0.0
Using jbuilder 2.6.0
Using rails-html-sanitizer 1.0.3
Using letter_opener 1.4.1
Using spring-watcher-listen 2.0.0
Using activejob 5.0.0
Using activerecord 5.0.0
Using carrierwave 1.1.0
Using actionview 5.0.0

















Using actionpack 5.0.0
Using actioncable 5.0.0
Using actionmailer 5.0.0
Using railties 5.0.0
Using sprockets-rails 3.1.1
Using simple_form 3.4.0
Using coffee-rails 4.2.1
Using responders 2.3.0
Using font-awesome-rails 4.7.0.1
Using jquery-rails 4.1.1
Using web-console 3.3.1
Using rails 5.0.0
Using sass-rails 5.0.6
Using devise 4.2.1
Bundle complete! 23 Gemfile dependencies, 79 gems now installed.
Use `bundle show [gemname]` to see where a bundled gem is installed.
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git log
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ touch app/views/admin/orders/_state_option.html.erb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ route state
route: bad keyword: state
usage: route [-dnqtv] command [[modifiers] args]
✘ zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git route
git: 'route' is not a git command. See 'git --help'.

Did you mean this?
reset
✘ zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ routes state
zsh: command not found: routes
✘ zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git add .
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git commit -m "add admin/order/state_option button XXX faild"
[pay 0e46c79] add admin/order/state_option button XXX faild
6 files changed, 73 insertions(+), 4 deletions(-)
create mode 100644 app/views/admin/orders/_state_option.html.erb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay ⮀ touch app/views/order_mailer/apply_cancel.html.erb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git add .
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git commit -m "add apply_cancel function step5 done but shep4 don't"
[pay 55d2872] add apply_cancel function step5 done but shep4 don't
5 files changed, 96 insertions(+)
create mode 100644 app/views/order_mailer/apply_cancel.html.erb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay ⮀ touch app/views/order_mailer/notify_cancel.html.erb

zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ touch app/views/order_mailer/notify_ship.html.erb

zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rake routes
                Prefix Verb   URI Pattern                           Controller#Action
        admin_products GET    /admin/products(.:format)             admin/products#index
                       POST   /admin/products(.:format)             admin/products#create
     new_admin_product GET    /admin/products/new(.:format)         admin/products#new
    edit_admin_product GET    /admin/products/:id/edit(.:format)    admin/products#edit
         admin_product GET    /admin/products/:id(.:format)         admin/products#show
                       PATCH  /admin/products/:id(.:format)         admin/products#update
                       PUT    /admin/products/:id(.:format)         admin/products#update
                       DELETE /admin/products/:id(.:format)         admin/products#destroy
    cancel_admin_order POST   /admin/orders/:id/cancel(.:format)    admin/orders#cancel
      ship_admin_order POST   /admin/orders/:id/ship(.:format)      admin/orders#ship
   shipped_admin_order POST   /admin/orders/:id/shipped(.:format)   admin/orders#shipped
    return_admin_order POST   /admin/orders/:id/return(.:format)    admin/orders#return
          admin_orders GET    /admin/orders(.:format)               admin/orders#index
                       POST   /admin/orders(.:format)               admin/orders#create
       new_admin_order GET    /admin/orders/new(.:format)           admin/orders#new
      edit_admin_order GET    /admin/orders/:id/edit(.:format)      admin/orders#edit
           admin_order GET    /admin/orders/:id(.:format)           admin/orders#show
                       PATCH  /admin/orders/:id(.:format)           admin/orders#update
                       PUT    /admin/orders/:id(.:format)           admin/orders#update
                       DELETE /admin/orders/:id(.:format)           admin/orders#destroy
      new_user_session GET    /users/sign_in(.:format)              devise/sessions#new
          user_session POST   /users/sign_in(.:format)              devise/sessions#create
  destroy_user_session DELETE /users/sign_out(.:format)             devise/sessions#destroy
         user_password POST   /users/password(.:format)             devise/passwords#create
     new_user_password GET    /users/password/new(.:format)         devise/passwords#new
    edit_user_password GET    /users/password/edit(.:format)        devise/passwords#edit
                       PATCH  /users/password(.:format)             devise/passwords#update
                       PUT    /users/password(.:format)             devise/passwords#update
cancel_user_registration GET    /users/cancel(.:format)               devise/registrations#cancel
     user_registration POST   /users(.:format)                      devise/registrations#create
 new_user_registration GET    /users/sign_up(.:format)              devise/registrations#new
edit_user_registration GET    /users/edit(.:format)                 devise/registrations#edit
                       PATCH  /users(.:format)                      devise/registrations#update
                       PUT    /users(.:format)                      devise/registrations#update
                       DELETE /users(.:format)                      devise/registrations#destroy
                  root GET    /                                     products#index
   add_to_cart_product POST   /products/:id/add_to_cart(.:format)   products#add_to_cart
              products GET    /products(.:format)                   products#index
                       POST   /products(.:format)                   products#create
           new_product GET    /products/new(.:format)               products#new
          edit_product GET    /products/:id/edit(.:format)          products#edit
               product GET    /products/:id(.:format)               products#show
                       PATCH  /products/:id(.:format)               products#update
                       PUT    /products/:id(.:format)               products#update
                       DELETE /products/:id(.:format)               products#destroy
           clean_carts DELETE /carts/clean(.:format)                carts#clean
        checkout_carts POST   /carts/checkout(.:format)             carts#checkout
                 carts GET    /carts(.:format)                      carts#index
                       POST   /carts(.:format)                      carts#create
              new_cart GET    /carts/new(.:format)                  carts#new
             edit_cart GET    /carts/:id/edit(.:format)             carts#edit
                  cart GET    /carts/:id(.:format)                  carts#show
                       PATCH  /carts/:id(.:format)                  carts#update
                       PUT    /carts/:id(.:format)                  carts#update
                       DELETE /carts/:id(.:format)                  carts#destroy
            cart_items GET    /cart_items(.:format)                 cart_items#index
                       POST   /cart_items(.:format)                 cart_items#create
         new_cart_item GET    /cart_items/new(.:format)             cart_items#new
        edit_cart_item GET    /cart_items/:id/edit(.:format)        cart_items#edit
             cart_item GET    /cart_items/:id(.:format)             cart_items#show
                       PATCH  /cart_items/:id(.:format)             cart_items#update
                       PUT    /cart_items/:id(.:format)             cart_items#update
                       DELETE /cart_items/:id(.:format)             cart_items#destroy
 pay_with_alipay_order POST   /orders/:id/pay_with_alipay(.:format) orders#pay_with_alipay
 pay_with_wechat_order POST   /orders/:id/pay_with_wechat(.:format) orders#pay_with_wechat
 apply_to_cancel_order POST   /orders/:id/apply_to_cancel(.:format) orders#apply_to_cancel
                orders GET    /orders(.:format)                     orders#index
                       POST   /orders(.:format)                     orders#create
             new_order GET    /orders/new(.:format)                 orders#new
            edit_order GET    /orders/:id/edit(.:format)            orders#edit
                 order GET    /orders/:id(.:format)                 orders#show
                       PATCH  /orders/:id(.:format)                 orders#update
                       PUT    /orders/:id(.:format)                 orders#update
                       DELETE /orders/:id(.:format)                 orders#destroy

















        account_orders GET    /account/orders(.:format)             account/orders#index
                       POST   /account/orders(.:format)             account/orders#create
     new_account_order GET    /account/orders/new(.:format)         account/orders#new
    edit_account_order GET    /account/orders/:id/edit(.:format)    account/orders#edit
         account_order GET    /account/orders/:id(.:format)         account/orders#show
                       PATCH  /account/orders/:id(.:format)         account/orders#update
                       PUT    /account/orders/:id(.:format)         account/orders#update
                       DELETE /account/orders/:id(.:format)         account/orders#destroy
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git log

















zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rails c
Running via Spring preloader in process 83014
Loading development environment (Rails 5.0.0)

















2.3.1 :001 > OrderMailer.notify_order_placed(Order.last).deliver!
Order Load (0.2ms)  SELECT  "orders".* FROM "orders" ORDER BY "orders"."id" DESC LIMIT ?  [["LIMIT", 1]]
User Load (0.2ms)  SELECT  "users".* FROM "users" WHERE "users"."id" = ? LIMIT ?  [["id", 2], ["LIMIT", 1]]
Rendering order_mailer/notify_order_placed.html.erb within layouts/mailer
ProductList Load (0.2ms)  SELECT "product_lists".* FROM "product_lists" WHERE "product_lists"."order_id" = ?  [["order_id", 5]]
Rendered order_mailer/notify_order_placed.html.erb within layouts/mailer (16.9ms)
OrderMailer#notify_order_placed: processed outbound mail in 190.4ms
=> #<Mail::Message:70215898890340, Multipart: false, Headers: <Date: Fri, 19 May 2017 15:10:52 +0800>, <From: service@jdstore.com>, <To: admin@test.com>, <Message-ID: <591e9a7c853a9_144463fdc6943fa1411342@bingo.mail>>, <Subject: [JDstore] 感谢您完成本次的下单，以下是您这次购物明细 1a76ea3c-6f03-4317-9ac6-5a916644cc43>, <Mime-Version: 1.0>, <Content-Type: text/html>, <Content-Transfer-Encoding: quoted-printable>>
2.3.1 :002 > exit
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git log
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git log --pretty=online
fatal: invalid --pretty format: online
✘ zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git log --pretty=oneline
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git reset --hard 98a2cf0eb1d
HEAD is now at 98a2cf0 add OrderMailer function
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ bundle install
Using rake 11.2.2
Using concurrent-ruby 1.0.2
Using i18n 0.7.0
Using minitest 5.9.0
Using thread_safe 0.3.5
Using builder 3.2.2
Using erubis 2.7.0
Using mini_portile2 2.1.0
Using pkg-config 1.1.7
Using rack 2.0.1
Using nio4r 1.2.1
Using websocket-extensions 0.1.2
Using mime-types-data 3.2016.0521
Using arel 7.1.1
Using public_suffix 2.0.5
Using execjs 2.7.0
Using bcrypt 3.1.11
Using sass 3.4.22
Using byebug 9.0.5
Using coffee-script-source 1.10.0
Using method_source 0.8.2
Using thor 0.19.1
Using debug_inspector 0.0.2
Using orm_adapter 0.5.0
Using ffi 1.9.14
Using multi_json 1.12.1
Using rb-fsevent 0.9.7
Using mini_magick 4.7.0
Using puma 3.6.0
Using bundler 1.14.6
Using tilt 2.0.5
Using spring 1.7.2
Using sqlite3 1.3.11
Using turbolinks-source 5.0.0
Using aasm 4.12.0
Using tzinfo 1.2.2
Using nokogiri 1.6.8
Using rack-test 0.6.3
Using warden 1.2.7
Using sprockets 3.7.0
Using websocket-driver 0.6.4
Using mime-types 3.1
Using addressable 2.5.1
Using autoprefixer-rails 6.7.7.1
Using uglifier 3.0.1
Using coffee-script 2.4.1
Using rb-inotify 0.9.7
Using turbolinks 5.0.0
Using activesupport 5.0.0
Using loofah 2.0.3
Using mail 2.6.4
Using launchy 2.4.3
Using bootstrap-sass 3.3.7
Using listen 3.0.8
Using rails-dom-testing 2.0.1
Using globalid 0.3.7
Using activemodel 5.0.0
Using jbuilder 2.6.0
Using rails-html-sanitizer 1.0.3
Using letter_opener 1.4.1
Using spring-watcher-listen 2.0.0
Using activejob 5.0.0
Using activerecord 5.0.0
Using carrierwave 1.1.0
Using actionview 5.0.0
Using actionpack 5.0.0
Using actioncable 5.0.0
Using actionmailer 5.0.0
Using railties 5.0.0
Using sprockets-rails 3.1.1
Using simple_form 3.4.0
Using coffee-rails 4.2.1
Using responders 2.3.0
Using font-awesome-rails 4.7.0.1
Using jquery-rails 4.1.1
Using web-console 3.3.1
Using rails 5.0.0
Using sass-rails 5.0.6
Using devise 4.2.1
Bundle complete! 23 Gemfile dependencies, 79 gems now installed.
Use `bundle show [gemname]` to see where a bundled gem is installed.
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rails g migration add_aasm_state_to_order
Running via Spring preloader in process 84565
    invoke  active_record
    create    db/migrate/20170519075715_add_aasm_state_to_order.rb
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rake db:migrate
== 20170519075715 AddAasmStateToOrder: migrating ==============================
-- add_column(:orders, :aasm_state, :string, {:default=>"order_placed"})
rake aborted!
StandardError: An error has occurred, this and all later migrations canceled:

SQLite3::SQLException: duplicate column name: aasm_state: ALTER TABLE "orders" ADD "aasm_state" varchar DEFAULT 'order_placed'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:91:in `initialize'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:91:in `new'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:91:in `prepare'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:134:in `execute'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/sqlite3_adapter.rb:232:in `block in execute'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract_adapter.rb:566:in `block in log'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activesupport-5.0.0/lib/active_support/notifications/instrumenter.rb:21:in `instrument'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract_adapter.rb:560:in `log'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/sqlite3_adapter.rb:232:in `execute'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/schema_statements.rb:547:in `add_column'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/sqlite3_adapter.rb:373:in `add_column'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:845:in `block in method_missing'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:814:in `block in say_with_time'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:814:in `say_with_time'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:834:in `method_missing'
/Users/zhibinzhao/jd2/jdstore/db/migrate/20170519075715_add_aasm_state_to_order.rb:3:in `change'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:788:in `exec_migration'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:772:in `block (2 levels) in migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:771:in `block in migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:398:in `with_connection'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:770:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:950:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1211:in `block in execute_migration_in_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1279:in `block in ddl_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/database_statements.rb:232:in `block in transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/transaction.rb:189:in `within_new_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/database_statements.rb:232:in `transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/transactions.rb:211:in `transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1279:in `ddl_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1210:in `execute_migration_in_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1183:in `block in migrate_without_lock'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1182:in `each'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1182:in `migrate_without_lock'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1133:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1005:in `up'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:983:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/tasks/database_tasks.rb:161:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/railties/databases.rake:58:in `block (2 levels) in <top (required)>'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/rake-11.2.2/exe/rake:27:in `<top (required)>'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `eval'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `<main>'
ActiveRecord::StatementInvalid: SQLite3::SQLException: duplicate column name: aasm_state: ALTER TABLE "orders" ADD "aasm_state" varchar DEFAULT 'order_placed'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:91:in `initialize'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:91:in `new'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:91:in `prepare'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:134:in `execute'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/sqlite3_adapter.rb:232:in `block in execute'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract_adapter.rb:566:in `block in log'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activesupport-5.0.0/lib/active_support/notifications/instrumenter.rb:21:in `instrument'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract_adapter.rb:560:in `log'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/sqlite3_adapter.rb:232:in `execute'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/schema_statements.rb:547:in `add_column'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/sqlite3_adapter.rb:373:in `add_column'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:845:in `block in method_missing'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:814:in `block in say_with_time'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:814:in `say_with_time'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:834:in `method_missing'
/Users/zhibinzhao/jd2/jdstore/db/migrate/20170519075715_add_aasm_state_to_order.rb:3:in `change'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:788:in `exec_migration'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:772:in `block (2 levels) in migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:771:in `block in migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:398:in `with_connection'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:770:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:950:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1211:in `block in execute_migration_in_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1279:in `block in ddl_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/database_statements.rb:232:in `block in transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/transaction.rb:189:in `within_new_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/database_statements.rb:232:in `transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/transactions.rb:211:in `transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1279:in `ddl_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1210:in `execute_migration_in_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1183:in `block in migrate_without_lock'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1182:in `each'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1182:in `migrate_without_lock'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1133:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1005:in `up'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:983:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/tasks/database_tasks.rb:161:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/railties/databases.rake:58:in `block (2 levels) in <top (required)>'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/rake-11.2.2/exe/rake:27:in `<top (required)>'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `eval'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `<main>'
SQLite3::SQLException: duplicate column name: aasm_state
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:91:in `initialize'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:91:in `new'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:91:in `prepare'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/sqlite3-1.3.11/lib/sqlite3/database.rb:134:in `execute'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/sqlite3_adapter.rb:232:in `block in execute'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract_adapter.rb:566:in `block in log'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activesupport-5.0.0/lib/active_support/notifications/instrumenter.rb:21:in `instrument'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract_adapter.rb:560:in `log'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/sqlite3_adapter.rb:232:in `execute'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/schema_statements.rb:547:in `add_column'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/sqlite3_adapter.rb:373:in `add_column'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:845:in `block in method_missing'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:814:in `block in say_with_time'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:814:in `say_with_time'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:834:in `method_missing'
/Users/zhibinzhao/jd2/jdstore/db/migrate/20170519075715_add_aasm_state_to_order.rb:3:in `change'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:788:in `exec_migration'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:772:in `block (2 levels) in migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:771:in `block in migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:398:in `with_connection'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:770:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:950:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1211:in `block in execute_migration_in_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1279:in `block in ddl_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/database_statements.rb:232:in `block in transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/transaction.rb:189:in `within_new_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/connection_adapters/abstract/database_statements.rb:232:in `transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/transactions.rb:211:in `transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1279:in `ddl_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1210:in `execute_migration_in_transaction'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1183:in `block in migrate_without_lock'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1182:in `each'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1182:in `migrate_without_lock'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1133:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:1005:in `up'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/migration.rb:983:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/tasks/database_tasks.rb:161:in `migrate'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/activerecord-5.0.0/lib/active_record/railties/databases.rake:58:in `block (2 levels) in <top (required)>'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/gems/rake-11.2.2/exe/rake:27:in `<top (required)>'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `eval'
/Users/zhibinzhao/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `<main>'
Tasks: TOP => db:migrate
(See full trace by running task with --trace)
✘ zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rake db:drop
rDropped database 'db/development.sqlite3'
Database 'db/test.sqlite3' does not exist
a%                                                                                                               zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rake db:create
Created database 'db/development.sqlite3'
Created database 'db/test.sqlite3'
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rake db:migrate
== 20170512140758 DeviseCreateUsers: migrating ================================
-- create_table(:users)
 -> 0.0047s
-- add_index(:users, :email, {:unique=>true})
 -> 0.0009s
-- add_index(:users, :reset_password_token, {:unique=>true})
 -> 0.0009s
== 20170512140758 DeviseCreateUsers: migrated (0.0067s) =======================

== 20170513020231 CreateProducts: migrating ===================================
-- create_table(:products)
 -> 0.0021s
== 20170513020231 CreateProducts: migrated (0.0023s) ==========================

== 20170513031703 AddIsAdminToUser: migrating =================================
-- add_column(:users, :is_admin, :boolean, {:default=>false})
 -> 0.0012s
== 20170513031703 AddIsAdminToUser: migrated (0.0013s) ========================

== 20170513034632 AddImageToProduct: migrating ================================
-- add_column(:products, :image, :string)
 -> 0.0008s
== 20170513034632 AddImageToProduct: migrated (0.0009s) =======================

== 20170513090814 CreateCarts: migrating ======================================
-- create_table(:carts)
 -> 0.0009s
== 20170513090814 CreateCarts: migrated (0.0010s) =============================

== 20170513090823 CreateCartItems: migrating ==================================
-- create_table(:cart_items)
 -> 0.0010s
== 20170513090823 CreateCartItems: migrated (0.0010s) =========================

== 20170518013917 CreateOrders: migrating =====================================
-- create_table(:orders)
 -> 0.0018s
== 20170518013917 CreateOrders: migrated (0.0019s) ============================

== 20170518083548 CreateProductLists: migrating ===============================
-- create_table(:product_lists)
 -> 0.0010s
== 20170518083548 CreateProductLists: migrated (0.0011s) ======================

== 20170518091450 AddTokenToOrder: migrating ==================================
-- add_column(:orders, :token, :string)
 -> 0.0007s
== 20170518091450 AddTokenToOrder: migrated (0.0008s) =========================

== 20170518094306 AddIsPaidToOrder: migrating =================================
-- add_column(:orders, :is_paid, :boolean, {:default=>false})
 -> 0.0007s
== 20170518094306 AddIsPaidToOrder: migrated (0.0008s) ========================

== 20170518094526 AddPaymentMethodToOrder: migrating ==========================
-- add_column(:orders, :payment_method, :string)
 -> 0.0007s
== 20170518094526 AddPaymentMethodToOrder: migrated (0.0008s) =================

== 20170519075715 AddAasmStateToOrder: migrating ==============================
-- add_column(:orders, :aasm_state, :string, {:default=>"order_placed"})
 -> 0.0009s
-- add_index(:orders, :aasm_state)
 -> 0.0007s
== 20170519075715 AddAasmStateToOrder: migrated (0.0018s) =====================

zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rails c
Running via Spring preloader in process 84960
Loading development environment (Rails 5.0.0)
2.3.1 :001 > u = User.new(email: "admin@test.com", password: "123456", password_confirmation: "123456")
=> #<User id: nil, email: "admin@test.com", created_at: nil, updated_at: nil, is_admin: false>
2.3.1 :002 > u.save
 (0.1ms)  begin transaction
User Exists (0.2ms)  SELECT  1 AS one FROM "users" WHERE "users"."email" = ? LIMIT ?  [["email", "admin@test.com"], ["LIMIT", 1]]
 (0.1ms)  rollback transaction
=> false
2.3.1 :003 > u.is_admin = true
=> true
2.3.1 :004 > u.save
 (0.1ms)  begin transaction
User Exists (0.1ms)  SELECT  1 AS one FROM "users" WHERE "users"."email" = ? LIMIT ?  [["email", "admin@test.com"], ["LIMIT", 1]]
 (0.1ms)  rollback transaction
=> false
2.3.1 :005 > exit
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rake db:reset
Dropped database 'db/development.sqlite3'
Dropped database 'db/test.sqlite3'
Created database 'db/development.sqlite3'
Created database 'db/test.sqlite3'
-- create_table("cart_items", {:force=>:cascade})
 -> 0.0128s
-- create_table("carts", {:force=>:cascade})
 -> 0.0019s
-- create_table("orders", {:force=>:cascade})
 -> 0.0042s
-- create_table("product_lists", {:force=>:cascade})
 -> 0.0019s
-- create_table("products", {:force=>:cascade})
 -> 0.0021s
-- create_table("users", {:force=>:cascade})
 -> 0.0073s
-- initialize_schema_migrations_table()
 -> 0.0034s
-- create_table("cart_items", {:force=>:cascade})
 -> 0.0023s
-- create_table("carts", {:force=>:cascade})
 -> 0.0016s
-- create_table("orders", {:force=>:cascade})
 -> 0.0034s
-- create_table("product_lists", {:force=>:cascade})
 -> 0.0023s
-- create_table("products", {:force=>:cascade})
 -> 0.0016s
-- create_table("users", {:force=>:cascade})
 -> 0.0062s
-- initialize_schema_migrations_table()
 -> 0.0014s
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rake db:seed
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ rake db:reset
Dropped database 'db/development.sqlite3'
Dropped database 'db/test.sqlite3'
Created database 'db/development.sqlite3'
Created database 'db/test.sqlite3'
-- create_table("cart_items", {:force=>:cascade})
 -> 0.0121s
-- create_table("carts", {:force=>:cascade})
 -> 0.0020s
-- create_table("orders", {:force=>:cascade})
 -> 0.0054s
-- create_table("product_lists", {:force=>:cascade})
 -> 0.0021s
-- create_table("products", {:force=>:cascade})
 -> 0.0019s
-- create_table("users", {:force=>:cascade})
 -> 0.0062s
-- initialize_schema_migrations_table()
 -> 0.0063s
-- create_table("cart_items", {:force=>:cascade})
 -> 0.0060s
-- create_table("carts", {:force=>:cascade})
 -> 0.0019s
-- create_table("orders", {:force=>:cascade})
 -> 0.0046s
-- create_table("product_lists", {:force=>:cascade})
 -> 0.0023s
-- create_table("products", {:force=>:cascade})
 -> 0.0046s
-- create_table("users", {:force=>:cascade})
 -> 0.0076s
-- initialize_schema_migrations_table()
 -> 0.0022s
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git status
On branch pay
Changes not staged for commit:
(use "git add <file>..." to update what will be committed)
(use "git checkout -- <file>..." to discard changes in working directory)

modified:   Gemfile
modified:   Gemfile.lock
modified:   app/controllers/orders_controller.rb
modified:   app/models/order.rb
modified:   db/schema.rb

Untracked files:
(use "git add <file>..." to include in what will be committed)

app/views/order_mailer/notify_cancel.html.erb
app/views/order_mailer/notify_ship.html.erb
db/migrate/20170519075715_add_aasm_state_to_order.rb

no changes added to commit (use "git add" and/or "git commit -a")
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git checkout .
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git status
On branch pay
Untracked files:
(use "git add <file>..." to include in what will be committed)

app/views/order_mailer/notify_cancel.html.erb
app/views/order_mailer/notify_ship.html.erb
db/migrate/20170519075715_add_aasm_state_to_order.rb

nothing added to commit but untracked files present (use "git add" to track)
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ git reset --hard 55d2872
HEAD is now at 55d2872 add apply_cancel function step5 done but shep4 don't
zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ touch app/views/order_mailer/notify_cancel.html.erb

zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ touch app/views/order_mailer/notify_ship.html.erb

zhibinzhao@bingo ⮀ ~/jd2/jdstore ⮀ ⭠ pay± ⮀ >....
      <tr>
        <td>
          <%= @order.billing_name %> - <%= @order.billing_address %>
        </td>
      </tr>
      <tr>
        <td> 收件者 </td>
      </tr>
      <tr>
        <td>
          <%= @order.shipping_name %> - <%= @order.shipping_address %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
